{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'reviews/bookinfo_styles.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <title>Book Information</title>
  </head>
  <body>
    <div id="navbar">
      <a href='{% url 'reviews:reviews_index' %}'>Homepage</a>
      <a href='{% url 'users:user_logout' %}'>Logout</a>
    </div>
      <h2>{{book_info.title}}</h2>
      <h2>Author: {{book_info.author}}</h2>

    <div id="content">
    <h2><u>Reviews</h2></u>
      <div id="add_review">
        <h3>Add a review: </h3>
        <form action='{% url 'reviews:create_review' %}' method='POST'>
          {% csrf_token %}
          <input hidden name='title' value='{{book_info.title}}'>
          <input hidden name='author' value='{{book_info.author}}'>
          {{reviewForm.as_p}}
          <input type='submit' value='Submit Review'>
        </form>
      </div>
      {% for r in reviews %}
      <div class="reviews">
        <p>
          {% with ''|center:r.rating as range %}
          {% for _ in range %}
            <img src='{% static "reviews/star.png" %}' alt='Ratings star'>
          {% endfor %}
          {% endwith %}
        </p>
        <p><a href="/users/{{r.user.id}}">{{r.user.first_name}}</a> says: {{r.review}}</p>
          {{r.created_at}}
            {% if request.session.user_id == r.user.id %}
            <form action='{% url 'reviews:delete_review' %}' method='POST'>
              {% csrf_token %}
              <input hidden type='text' name='bookid' value='{{r.book.id}}'>
              <button name='delete' value='{{r.id}}'>Delete this Review</button>
             </form>
            {% endif %}
      </div>
      {% endfor %}

    </div>
  </body>
</html>
